@import compass
@import font/awesome
@import sticky-footer

textarea
	resize: none

.navbar-brand
	padding: 8px 30px
	path
		fill: white

.top-panel
	margin-top: 25px
	margin-bottom: 25px
	address
		margin-bottom: 0
		text-align: right

.fotorama img
	width: 100%