<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/js/vendor/fotorama/fotorama.css" rel="stylesheet">
		<link href="/static/js/vendor/fileupload/css/jquery.fileupload.css" rel="stylesheet">
		<link href="/static/css/screen.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="document">
			<header class="header">
				<div class="container">
					<div class="top-panel">
						<div class="row">
							<div class="col-md-2">
								<a href="#"><img src="/static/img/symbol-2.jpg" height="60"></a>
							</div>
							<div class="col-md-4 col-md-offset-6">
								<address>
									<strong class="text-important">Свяжитесь с нами</strong><br>
									795 Folsom Ave, Suite 600<br>
									<abbr title="Phone">P:</abbr> (123) 456-7890
								</address>
							</div>
						</div>
					</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex8-collapse">
								<span class="sr-only">Навигация</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- <a href="#" class="navbar-brand">
								
							</a> -->
						</div>
						<div class="collapse navbar-collapse navbar-ex8-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">О компании</a></li>
								<li><a href="#">Блистерная упаковка</a></li>
								<li><a href="#">Оснастка</a></li>
								<li><a href="#">Упаковочное оборудование</a></li>
								<li class="disabled"><a href="#">Промышленная автоматизация</a></li>
								<li><a href="#">Свяжитесь с нами</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			{% block content %}{% endblock %}
			<div class="footer-padding"></div>
		</div>
		<footer class="footer">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="text-center">
							<a href="#"><img src="/static/img/logo-opt.png" alt="" width="100"></a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="text-center">
							ООО &laquo;Уникальные технологии&raquo;, г.&nbsp;Екатеринбург<br>
							Email:&nbsp;info@utechnologies.ru<br>
							Тел:&nbsp;+7&nbsp;(123)&nbsp;456-78-90
						</div>
					</div>
					<div class="col-md-3">
				</div>
			</div>
		</footer>
	</body>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/vendor/fotorama/fotorama.js"></script>
	<script src="/static/js/vendor/fileupload/js/jquery.ui.widget.js"></script>
	<script src="/static/js/vendor/fileupload/js/jquery.iframe-transport.js"></script>
	<script src="/static/js/vendor/fileupload/js/jquery.fileupload.js"></script>
	<script src="/static/js/all.js"></script>
</html>