{% extends "base.html" %}

{% block title %}main{% endblock %}

{% block content %}



<article class="article">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1>Заголовок</h1>
					<hr>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<h4>Lorem ipsum dolor</h4>
				<p>
					Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				</p>
				<ul class="">
					<li>Lorem ipsum</li>
					<li>Dolor sit amet</li>
					<li>Lorem ipsum</li>
					<li>Dolor sit amet</li>
				</ul>
				
			</div>
			<div class="col-md-4">
				<img class="thumbnail" src="http://placekitten.com/g/600/400" width="100%" alt="">
			</div>
		</div>
		<br>
		<br>
		<br>

		<div class="row feedback">
			<div class="text-center">
				<h1>Форма обратной связи</h1>
				<hr>
			</div>
	<!-- 		<div class="col-md-2"></div> -->
			<div class="col-md-8">

				<form class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-4 control-label">Предприятие:</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="inputEmail1" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-4 control-label"><span class="star">* </span>ФИО, Должность:</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="inputEmail1" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-4 control-label"><span class="star">* </span>Email:</label>
					<div class="col-lg-8">
						<input type="email" class="form-control" id="inputEmail1" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-4 control-label"><span class="star">* </span>Телефон:</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="inputEmail1" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-4 control-label">Прикрепить фаил:</label>
					<div class="col-lg-8">
						<input type="file" id="e">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-lg-4 control-label">Текст сообщения:</label>
					<div class="col-lg-8">
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-lg-offset-4 col-lg-8">
						<button type="submit" class="btn btn-default">Отправить</button>
					</div>
				</div>
			</form>
				
			</div>
			<div class="col-md-4">
				<p>
					Заполните форму обратной связи, и мы свяжимся с Вами в течении x часов.
					Поля отмеченные звездочкой- обязательны для заполнения.
				</p>
				<hr>
				Пустое обязательное поле:				
				<div class="form-group has-error">
					<input type="text" class="form-control" id="inputError">
					<p class="help-block">Заполните это поле</p>
				</div>
				<br>
				Сообщение об успешной отправке данных:
				<div class="alert alert-success">
					<strong>Данные успешно отправленны.</strong> Наш оператор свяжется с Вами в течении 24 часов
				</div>

			</div>
		</div>


			



	</div>
	

</article>


{% endblock %}